package otter

import "github.com/martinmunillas/otter/css"

css errorAlert() {
	background: var(--danger);
	color: white;
	border-radius: 0.25rem;
}

templ ErrorAlert(err error) {
	if err != nil {
		<div
			class={
				errorAlert(),
				css.Flex(css.FlexOptions{
					Padding: css.SpacingMd,
				}),
			}
		>
			{ err.Error() }
		</div>
	}
}
