package otter

css errorAlert() {
	background: var(--danger);
	color: white;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
}

templ ErrorAlert(err error) {
	if err != nil {
		<div
			class={ errorAlert(), }
		>
			{ err.Error() }
		</div>
	}
}
