package otter

css labelClass() {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	font-weight: 800;
	font-size: 0.875rem;
}

templ Label(label string, required bool) {
	<label
		class={ labelClass(), }
	>
		<span>
			{ label }
			if required {
				<span class="required-indicator">*</span>
			}
		</span>
		{ children... }
	</label>
}
